services:
  bot:
    build: .
    depends_on:
      db:
        condition: service_healthy
        required: true
#    volumes:
#      - ./docker-entrypoint.sh:/app/docker-entrypoint.sh:ro
    environment:
      PORT: "3000"
      LOG_LEVEL: "verbose"
    env_file:
      - .env
  db:
    image: postgres:16
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 1s
      timeout: 5s
      retries: 5
    volumes:
      - bfn_db:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
volumes:
  bfn_db:
